body{
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.MainContainer{
    margin-top: 4rem;
    padding: 2rem 4rem;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
}

